.containerModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.containerModal img {
  height: 280px;
}

.modalButtonsContainer {
  display: flex;
  justify-content: space-between;
  width: 88%;
  gap: 32px;
}
